<section class="despre" id="despre">
    <h2>DESPRE NOI</h2>
    <div class="bara-decor">
        <span></span>
        <img src="Magia_Romaniei/IMAGES/star.png" alt="steluta decor">
        <span></span>
    </div>
    <div class="despre-parag">
        <p>
            Povestea proiectului nostru a început în anul 2020, când odată afectați cu toții de ultima pandemie, am încercat să oferim o alternativă la concediile și drumețiile din afara țării, alternativă aleasă din păcate de destul de mulți dintre noi.
        </p>
        <p>
            Încercăm astfel să devenim unul dintre principalii vectori de promovare și de prezentare a rutelor, destinațiilor, obiectivelor, infrastructurii, serviciilor, tradiției rurale românești, a produselor și intereselor proprietarilor sau administratorilor de resursă turistică naturală sau culturală din România.
        </p>
    </div>
</section>