<section class="home">
    <figure class="home-wall">
        <img src="Magia_Romaniei/IMAGES/Bucovina.jpeg" alt="Peisaj din zona Bucovina...">
    </figure>
    <div class="home-text">
        <h2 id="var-white">MAGIA ROMÂNIEI</h2>
        <div class="bara-decor">
            <span id="bara-white"></span>
                <img src="Magia_Romaniei/IMAGES/white-star.png" alt="steluta decor">
            <span id="bara-white"></span>
        </div>
        <p>REDESCOPERĂ - ADMIRĂ - PREȚUIEȘTE</p>
    </div>
</section>