<!DOCTYPE html>
<html lang="ro" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>* {{title}} *</title>
    <!--tab icon-->
    <link rel="shortcut icon" href="Magia_Romaniei/IMAGES/logo_mountain.png" type="image/x-icon">
    <!--CSS and Fonts-->
    <link rel="stylesheet" href="Magia_Romaniei/CSS/main-style.css">
    <link rel="stylesheet" href="Magia_Romaniei/CSS/header-style.css">
    <link rel="stylesheet" href="Magia_Romaniei/CSS/footer-style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital@0;1&family=Montserrat:wght@400;500&family=Poppins&family=Work+Sans:wght@400;500;800&display=swap" rel="stylesheet">
    <!--JS files-->
    <script defer async src="Magia_Romaniei/JS/soft.js"></script>

    <script defer async src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</head>
<body>
    <header id="navbar">
        <h1><a href="home">MAGIA ROMÂNIEI</a></h1>
        <nav id="navMenu">
            <ul id="navUl">
                <li><a href="regiuni">REGIUNI TURISTICE</a></li>
                <li id="obiective"><a href="obiective">OBIECTIVE TURISTICE</a></li>
                <li><a href="rezervari">REZERVĂRI</a></li>
                <li><a href="#despre">DESPRE NOI</a></li>
            </ul>
            <div class="nav-butt">
                <a href="logout" id="logOut" class="btn">Delogare</a>
            </div>
        </nav>
        <div id="toggle"><p id="toggP" class="toggle-p"></p></div>
    </header>

    
    <main>
        <!-- SECTIUNI -->

        {{mainContent}}
     
    </main>
    

    <footer>
        <div class="footer-contact">
            <h3>Contact</h3>
            <span>Emanuel Caradan</span>
            <span>(+40) 744 - 301 841</span>
            <span>Cluj - Napoca, România</span>
            <span><em>emanuel.caradan@magiaromaniei.ro</em></span>
        </div>
        <div class="footer-social">
            <h3>Social Media</h3>
            <figure>
                <a href="https://ro-ro.facebook.com" target="blank"><img class="footer-logo-F" src="Magia_Romaniei/IMAGES/facebook.png" alt="Logo Facebook lipsă..."></a>
                <a href="https://twitter.com" target="blank"><img class="footer-logo-T" src="Magia_Romaniei/IMAGES/twitter.png" alt="Logo Twitter lipsă..."></a>
                <a href="https://www.instagram.com" target="blank"><img class="footer-logo-I" src="Magia_Romaniei/IMAGES/instagram.png" alt="Logo Instagram lipsă..."></a>
                <a href="https://web.whatsapp.com" target="blank"><img class="footer-logo-W" src="Magia_Romaniei/IMAGES/whatsapp.png" alt="Logo WhatsApp lipsă..."></a>
            </figure>
            <span>Copyright © Magia României 2022</span>
        </div>
        <div class="footer-descriere">
            <h3>Descriere</h3>
            <span>Copyright © Magia României 2022</span>
            <p>Suntem un proiect la început de drum, un proiect ambițios care își propune să promoveze atracțiile țării noastre.</p>
        </div>      
    </footer>

</body>
</html>