<section class="obiective">
  <h2 id="var-white">OBIECTIVE TURISTICE</h2>
  <div class="bara-decor">
      <span id="bara-green"></span>
      <img src="Magia_Romaniei/IMAGES/white-star.png" alt="steluta decor">
      <span id="bara-green"></span>
  </div>
  <div class="obiective-parag">
    <p class="prim">
      Despre abundența resurselor turistice care sălășluiește pe întinderea frumoasei noastre patrii știm încă de la primele ore de Geografia României. Nu lipsiți de mândrie patriotică în fragedele noastre minți am învățat că avem munți cu duiumul, plaje, istorie și tradiții cât să umplem biblioteci întregi, ape termale, castele și cetăți de faimă internațională, floră luxuriantă, faună pe cât cuprinde… Ni s-a mai spus, cu gravitate în glas, asa cum tema o impunea, că indolența face ca toată această îndestulare turistică să fie lăsată în paragină. Prea tineri fiind, nu ne era chiar la îndemână să urcăm în primul tren pentru a ne convinge de acuratețea spuselor dascălilor noștri, dar, pe măsura trecerii anilor și a înaintării în vârstă, am început să bifăm tot mai multe dintre aceste locuri.
      În secțiunea aceasta ne-am gândit să împărtășim cu voi câteva obiective turistice considerate de noi deosebite.
    </p>
    <div>
      <h5>Roșia Montană, județul Alba</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/rosia_montana_wall.jpg" alt="Peisaj Roșia Montană">
        <figcaption><em>Peisaj pe timp de toamnă, cu un lac din aria protejată Roșia Montană.</em></figcaption>
      </figure>
      <p>
        Cu siguranță ai susținut, fie și numai cu gândul, protestul din 2013, dar nu ai ajuns încă să vizitezi Roșia Montană? Află atunci că salvarea Roșiei Montane nu s-a oprit o dată cu nominalizarea acesteia pentru Lista Patrimoniului Mondial UNESCO și încetarea exploatării aurului.
      </p>
      <p>
        Ca urmare a acestui lucru, în prezent, zona se află în declin economic, iar locuitorii acesteia duc o luptă grea pentru dezvoltarea altor industrii locale care să le asigure traiul. Ca să nu mai vorbim despre dezbinarea comunității locale care a survenit în urma evenimentelor din 2013.
      </p>
      <p>
        Deși tineri ambițiosi se luptă pentru scoaterea Roșiei Montane din blocajul economic în care se află, se preconizează că dezvoltarea turismului local este cel mai eficient înlocuitor al exploatării minelor de aur. Și să nu crezi că, după o vacanță petrecută la fața locului, doar localnicii vor avea de câștigat; deși vei fi nevoit să lași aurul la locul lui, vei pleca mai bogat spiritual după vizitarea superbelor galerii romane săpate cu dalta și cu mâinile libere, după drumețiile pe care le poți face până la Piatra Corbului sau Piatra Despicată sau pur si simplu trăind pentru câteva zile alături de populația locului.
      </p>      
    </div>
    <div>
      <h5>Salina Turda, județul Cluj</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/salina_turda_wall.jpg" alt="Peisaj Salina Turda">
        <figcaption><em>Panoramă cu interiorul salinei Turda.</em></figcaption>
      </figure>
      <p>
        La 30 de kilometri de Cluj și la câteva sute de metri sub pământ, Salina Turda se înfățișează ochiului turistic ca o lume subterană, rece de doar 10 grade Celsius, unde natura și omul au lucrat cot la cot, cu sârguință, pentru a îi pune la dispoziție un mic oraș de sare.
      </p>
      <p>
        Locul de unde acest zăcământ natural se extrăgea încă de pe vremea romanilor este, în prezent, nu doar o oază de sănătate balneară, ci și o mini-bază de agrement lumina elegant cu teren de sport, amfiteatru, loc de joacă pentru copii, muzeu natural, lac natural care îți permite o plimbare cu barca și altele. Și pentru ca vacanța ta să-și aibă doza de răsfăț frivol al simțurilor. de curând, salina a deschis propria unitate de cazare dotată cu un centru SPA.
      </p>      
    </div>
    <div>
      <h5>Cazanele Dunării - Dubova, județul Mehedinți</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/cazanele_dunarii_wall.jpg" alt="Peisaj zona Cazanele Dunării">
        <figcaption><em>Peisaj cu prim plan pe chipul lui Decebal sculptat in stâncă, defileul Dunării.</em></figcaption>
      </figure>
      <p>
        E dimineață și te-ai trezit. Primul gând care încolțește este că, după tot drumul lung și obositor care te-a adus aseară aici, la intrarea Dunării în țară, vrei să fii răsplătit; vrei ca Dunărea să îți dea înapoi din efortul pe care l-ai făcut venind până aici ca să o vezi într-una din cele mai glorioase posturi.
      </p>
      <p>
        Te ridici din pat și deschizi somnoros geamul, ieși pe balcon și timpul se oprește. Strălucirea apei în soarele dimineții îți ia privirea, iar muntele de la malul din fața ta pare că se dă cu smerenie din calea prea-mândrului fluviu. Chiar ești aici: la malul Dunării, privind în față pământul sârbesc, înconjurat de atâta liniște de parcă te afli la începutul lumii. La Clisura Dunării totul e lirism și măreție, poezie și glorie; mai impunătoare decât statuia lui Decebal este doar curgerea grăbită a Dunării care, fără pic de sfială, da la o parte munții din calea ei pentru a ajunge acolo unde soarta i-a dat să ajungă: în mare.
      </p>
      <p>
        Așa am descrie noi primele minute de la vederea Dunării în această ipostază a ei. Dacă vrei să îți satisfaci încă și mai mult poftele sufletului nu ai decât să recurgi la o plimbare de aproape 2 ore cu vaporașul.
      </p>      
    </div>
    <div>
      <h5>Cimitirul Vesel de la Săpânța, județul Maramureș</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/cimitirul_vesel_wall.jpg" alt="Peisaj cu cimitirul vesel din Săpânța">
        <figcaption><em>Prim plan cu cateva dintre operele de artă pictate pe crucile din cimitir.</em></figcaption>
      </figure>
      <p>
        Când ai ieșit ultima oară zâmbind dintr-un cimitir? (…fără să consideri că ai suferi de anomalii neurologice care te plasează alături de criminalii în serie.) Dacă vizitarea unui cimitir nu ți-a transmis niciodată bună dispoziție, merită să ajungi până hăt la granița de nord cu Ucraina, în satul care a învățat să sfideze moartea și să o privească cu veselia tipică omului rustic.
      </p>
      <p>
        Locul este o adevărată manifestare a artei, o imagine total opusă peisajului sumbru la care te aștepți când intri într-un cimitir. Este presărat cu cruci de mormânt pictate în culori vesele ce conțin scene ilustrative din viața celor trecuți în neființă.
      </p>
      <p>
        Defuncții sunt reprezentați caricatural după meseria pe care o aveau (tăietor de lemne, agricultor, cizmar etc), activitatea cărora îi dedicau cea mai mare parte a timpului (frământarea pâinii, țesutul) sau în funcție de scena morții. Sub fiecare sculptură vei găsi câte un epitaf alcătuit cu dibăcie (și ironie), câteva versuri care povestesc moartea celui care se odihnește acolo și, de multe ori, o ilustrare hazlie a viciilor acestuia din timpul vieții.
      </p>      
    </div>
    <div>
      <h5>Cascada Bigăr, județul Caraș-Severin</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/cascada_bigar_wall.jpg" alt="Peisaj Cascada Bigăr">
        <figcaption><em>Peisaj cu cascada Bigăr</em></figcaption>
      </figure>
      <p>
        La terminarea celei de-a șasea zi, imediat după facerea lumii și înainte de a se bucura de binemerită zi de odihnă, Creatorul și-a amintit de săculețul lui cu minuni. L-a luat cu grijă de pe un raft prăfuit, a scos dinăuntru un pumn și a presărat cu grijă conținutul din loc în loc, pe toată suprafața lumii. Una dintre acestea a nimerit la un pas de Paralela 45, în județul Caraș-Severin, iar oamenii au numit-o Cascada Bigăr.
      </p>
      <p>
        Se aude că, milioane de ani mai târziu, prin 2013, cascada ar fi ajuns pe locul I într-un oarecare top internațional al cascadelor unice în lume, dar ăsta este doar un zvon. Se mai spune că albastrul izvorului te face să crezi că acolo a căzut cerul, iar curgerea de apă peste stânca acoperită de mușchi pare un voal de mireasă. Dar nu trebuie să iei nimic de-a bună fără să vezi cu ochii tăi.
      </p>      
    </div>
    <div>
      <h5>Complexul Harmonie, Predeal, județul Brașov</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/complex_harmonie_wall.jpg" alt="Peisaj Complex Harmonie, Predeal">
        <figcaption><em>Peisaj din complexul Harmonie, Predeal.</em></figcaption>
      </figure>
      <p>
        Dacă atunci când erai mic ți-ai dorit o căsuță în copac ca cele din filmele americane, dar nu ai avut-o, acum e momentul să îți oferi un weeekned într-o căsuță din copac de adulți (if you know what I mean). Pe dinafară: căsuțe suspendate, contruite din lemn bătrân, acoperite de perdele de frunze și îmbrățișate de crengile care le înconjoară.
      </p>
      <p>
        Pe dinăuntru: cadrul romantic decorat cu șemineu, jacuzzi sau cu cadă de baie ruptă din stilul de viață aristocratic al secolului XVIII, vedere spre peisajul de munte, lumânări presărate din loc în loc, atât de idilic… Nici nu pot să nu ma gândesc la poezia care ar fi ieșit de sub penelul lui Eminescu dacă ar fi petrecut, fie și numai o noapte în prea-contemporana căsuță din copac, în compania muzei sale blonde.
      </p>      
    </div>
    <div>
      <h5>Viscri, județul Brașov</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/viscri_wall.jpg" alt="Peisaj sat Viscri">
        <figcaption><em>Poză cu arhitectura caselor din satul Viscri.</em></figcaption>
      </figure>
      <p>
        Poți să mergi în Viscri și de un milion de ori în viața asta, tot nu o să înceteze să te surprindă. Tot nu o să îți astâmperi mirarea și, de oricâte ori te-ai duce acolo, tot n-o să-ți vină să crezi că poate exista atâta liniște într-un loc populat de oameni (numai vreo 500, ce-i drept). Ajungi în Viscri după un drum neasfaltat de vreo 20 de minute cu mașina, în care n-o să poți să-ți iei privirea de pe fereastră și să o mai ucizi, aruncând-o spre display-ul telefonului. Nicio șansă! Dacă te prinde lăsatul soarelui aici, vei vedea câteva cete de vaci ce se întorc agale spre casă, oprindu-se însă la fântâna satului pentru a-și astâmpăra setea.
      </p>
      <p>
        Și n-o să-ți vină să crezi că nu e o poveste de-a lui Creangă, ci că e vacanța ta. O să te surprinzi făcând involuntar cu mâna localnicilor care stau la taifas pe băncuța din fața casei, care te privesc curios și te salută. Și mare ne-ar fi mirarea să te poți abține să nu schimbi două vorbe cu ei. Nu te va mai mira cu nimic faptul că Prințul Charles s-a îndrăgostit până peste cap de această așezare săsească, că și-a cumpărat o proprietate aici și că nu a contenit cu laudele pentru acest sătuc transilvănean.
      </p>
      <p>
        Dar cum a reușit acest loc conservat în medievalitate să-și păstreze autenticitatea pură în ciuda cruzimii timpului? Printr-un așa numit „contract social”, fiecare localnic a promis să conserve identitatea satului și să nu aducă nicio modificare mediului, locuințelor sau drumurilor în absența aprobării generale.
      </p>
      <p>
        Nu face greșeala ca, de ajungi în Viscri, să petreci numai o oră-două, să îi asculți liniștea și apoi să-ți iei tălpășița. Nici prin cap să nu-ți treacă! Petrece acolo câteva nopți, dormi în casele localnicilor, gustă din mâncarea tradițională și întinde-te la vorbă cu cei de prin partea locului. Sunt toate niște experiențe pentru care îți vei mulțumi.
      </p> 
    </div>
    <div>
      <h5>Cascada Cailor, Munții Rodnei</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/cascada_cailor_wall.jpg" alt="Peisaj Cascada Cailor">
        <figcaption><em>Peisaj cu cascada cu cea mai înaltă cădere de apă din țara noastră.</em></figcaption>
      </figure>
      <p>
        La o aruncătură de băț de stațiunea Borșa (iar când citești asta, în minte ți se aciuează sigur Vârful Rodnei din apropiere și momentele de strădanie infantilă când încercai să-i memorezi înălțimea), apele pe care zăpada și ploile le adună cu sârguință într-un circ glaciar, se răsfrâng cu tot elanul peste Podul Cailor. Ce reușește să facă apa în vâltoarea ei? Reușește să dea naștere celei mai mari cascade de pe întinsul României care, privită de jos către înaltul celor 90 de metri ai săi, îți pare ca și cum cerul s-a deschis și aruncă de acolo șuvoaie argintii peste Pâmântul fără de-apărare.
      </p>
      <p>
        Arzi de nerăbdare și parc-ai vrea să te teleportezi degrabă într-acolo? Ei bine, chiar dacă ai zbughit-o deja în mașină și te îndrepți spre stațiunea Borșa, află că de-acolo poți, fie să iei telecabina, fie, dacă bocancii promit să mai țină de-o urcare pe munte și pelerina de ploaie nu te-a dezamăgit niciodată, să te încumeți la o drumeție de o oră jumate care să te înalțe vreo 200 metri. Și știi cum o să-ți pară drumul până acolo? Ca și cum imnuri folclorice românești ți-ar cânta simpatice la ureche, iar munții românești, așa cum numai ei știu să o facă, ți-ar înrobi simțurile.
      </p>      
    </div>
    <div>
      <h5>Mănăstirea Voroneț, Gura Humorului, județul Suceava</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/voronet_wall.jpg" alt="Peisaj Mănăstirea Voroneț">
        <figcaption><em>Prim plan cu mănăstirea Voroneț.</em></figcaption>
      </figure>
      <p>
        Indiferent din ce zonă a țării vii (și nu spune nimeni că țara noastră nu ar avea dimensiuni considerabile), Bucovinei îi datorezi măcar o vizită la câțiva ani. Îi datorezi ei și îți datorezi ție din când în când un refugiu în acest colț nordic de țară, unde tradițiile și istoria sunt încă extrem de prezente și puternice, iar oamenii par exact cei despre care vorbeau basmele când descriau personaje „cu inimă curată, deschisă”.
      </p>
      <p>
        Cum ne-am putea vreodată făli cu „Capela Sixtină a Estului” și cu al ei „albastru de Voroneț” dacă nu ne permitem când și când să ne retragem acolo și să-i citim poveștile biblice redate cu măiestrie în picturi ce au văzut mai bine de jumătate de mileniu. Da, poate că nu are nimic din opulența marilor biserici catolice din vest, dar concurează cu ele fără tăgadă. Îmbrăcată veșnic în misterul formulei cu care s-a obținut acel azur atât de trainic, Mănăstirea Voroneț te-mbie la rugăciune, la reculegere și la întoarcerea către tine, cel din interior; și o să te surprinzi comportându-te întocmai, indiferent de cât de aspru te-ai arăta în judecată față de credință sau oricât de departe-ai fi de ea în viața de zi cu zi.
      </p>
      <p>
        Ia-ți timpul necesar și închide-ți telefonul în vreme ce te plimbi pe aleile din curtea mănăstirii, în vreme ce îi deslușești picturile sau asculți pledoariile maicilor pentru că această moștenire lăsată de Ștefan cel Mare acum 500 de ani, nu poate fi văzută în grabă, printre rânduri de mailuri.
      </p>     
    </div>
    <div>
      <h5>Transfăgărășan</h5>
      <figure class="obiect-parag-img">
        <img src="Magia_Romaniei/IMAGES/transfagarasan_wall.jpg" alt="Peisaj panoramic Transfăgărășan">
        <figcaption><em>Panoramă superbă cu cea mai frumoasă și renumită porțiune a Transfăgărășanului.</em></figcaption>
      </figure>
      <p>
        Curbele impresionante ale Transfăgărășeanului, idealul oricărui șofer, i-au dus vestea acestui șerpuitor departe de granițele românești. Poate datorită curajului său de a înfrunta fără teamă înalții Munți ai Făgărașului și a uni Muntenia cu Transilvania. Este un drum sălbatic, în ciuda cuceririi de către om, unde forma muntoasă abruptă se îmbină armonios cu șoseaua, iar valea propune peisaje de rămas în suflet. Muntele aleargă la vale, însă tu te poți opri seren pe marginea drumului pentru a admira plenitudinea. Și aerul dulce de munte.
      </p>      
    </div>
  </div>
</section>