<section class="rezervari">
  <h2 id="var-white"> *  REZERVĂRILE TALE  * </h2>
  <div class="bara-decor">
      <span id="bara-green"></span>
      <img src="Magia_Romaniei/IMAGES/white-star.png" alt="steluta decor">
      <span id="bara-green"></span>
  </div>
  <div class="rez-prim-auth">
    <div class="my-rez-auth">
      <p>
        Nu-i nimic plăcut în a o porni ca o pasăre zglobie, cu cele mai bune intenții, către destinația de concediu, plin ochi de speranțe și binevoitor ca un bunic cu zâmbet cald pentru ca, o dată ajuns, să constați ba că apa caldă nu merge, ba că un răspuns mofluz te întâmpină de după recepție, ba că micul dejun se servește de la 7 la 7:45.
      </p>
      <p>
        Pentru a evita astfel de neajunsuri am căutat acoperișuri deasupra capului și „case departe de casă” în unele dintre cele mai populare destinații românești. Am căutat, am întrebat, am cugetat, totul pentru a ne asigura că în concediul pe care îl plănuiești și pentru care economisești nu este nevoie să faci compromisuri. În secțiunea de mai poți vedea locațiile preferate sau deja rezervate de tine.
      </p>
      <div class="my-rez-card">
        <h6>Hotel Radsor - Râșnov</h6>
        <img src="Magia_Romaniei/IMAGES/Hotel_Radsor_Rasnov.jpg" alt="Poză Hotel Radsor">
        <a target="blank" class="btn" href="https://radsor.ro">Rezervă</a>
      </div>
      <div class="my-rez-card">
        <h6>Hotel Republique - Sibiu</h6>
        <img src="Magia_Romaniei/IMAGES/Hotel_Republique_Sibiu.jpg" alt="Poză Hotel Republique">
        <a target="blank" class="btn" href="https://republique.rooms-wizard.com/?lang=ro">Rezervă</a>
      </div>
      <div class="my-rez-card">
        <h6>Hotel Privo - Târgu Mureș</h6>
        <img src="Magia_Romaniei/IMAGES/Hotel_Privo_Targu-Mures.jpg" alt="Poză Hotel Privo - Tg. Mureș">
        <a target="blank" class="btn" href="https://www.privo.ro/contact">Rezervă</a>
      </div>
      <div class="my-rez-card">
        <h6>Opus Villa - Sinaia</h6>
        <img src="Magia_Romaniei/IMAGES/Opus_Villa_Sinaia.jpg" alt="Poză Opus Villa - Sinaia">
        <a target="blank" class="btn" href="https://www.opusvilla.ro/rezervari">Rezervă</a>
      </div>
      <div class="my-rez-card">
        <h6>Nord Hotel - Borșa, Maramureș</h6>
        <img src="Magia_Romaniei/IMAGES/Nord_Hotel-Borsa.jpg" alt="Poză Nord Hotel - Borșa">
        <a target="blank" class="btn" href="https://nordhotelborsa.ro">Rezervă</a>
      </div>
      <div class="my-rez-card">
        <h6>Curtea Bizantină - Suceava</h6>
        <img src="Magia_Romaniei/IMAGES/Curtea_Bizantina_Suceava.jpg" alt="Poză Curtea Bizantină">
        <a target="blank" class="btn" href="https://curtea-bizantina.ro/">Rezervă</a>
      </div>
      <div class="my-rez-card">
        <h6>Grand Boutique Hotel - București</h6>
        <img src="Magia_Romaniei/IMAGES/Gran_Boutique_Hotel_Bucuresti.jpg" alt="Poză Grand Boutique Hotel - București">
        <a target="blank" class="btn" href="https://portal.freetobook.com/reservations?w_id=16468&w_tkn=CuahSsCugiixfqJin0t4Vwp5NZGe08GcPqUfjxDipJAsKkONu0JTUoeOi8W9I">Rezervă</a>
      </div>
    </div>
    <aside>
        <h5>Recomandarea nostră săptămânală</h5>
        <img src="Magia_Romaniei/IMAGES/Hotel Balvanyos.jpg" alt="Panoramă Hotel Balvanyos">
        <h6>Grand Hotel Balvanyos</h6>
        <p>Balvanyos Resort este o oază de linişte cu aer curat, înconjurat de munţii şi pădurile din jurul Lacului Sf. Ana, situat pe DN 11C între Băile Tuşnad şi Târgu Secuiesc. Resortul vă oferă condiţii ideale pentru un sejur de neuitat.</p>
        <a target="blank" class="btn" href="https://balvanyosresort.ro">Vezi locația</a>
    </aside>
  </div>
</section>