<section class="rezervari">
  <h2 id="var-white">REZERVĂRI</h2>
  <div class="bara-decor">
      <span id="bara-white"></span>
      <img src="Magia_Romaniei/IMAGES/white-star.png" alt="steluta decor">
      <span id="bara-white"></span>
  </div>
  <div class="rez-prim">
    <p>
        Nu-i nimic plăcut în a o porni ca o pasăre zglobie, cu cele mai bune intenții, către destinația de concediu, plin ochi de speranțe și binevoitor ca un bunic cu zâmbet cald pentru ca, o dată ajuns, să constați ba că apa caldă nu merge, ba că un răspuns mofluz te întâmpină de după recepție, ba că micul dejun se servește de la 7 la 7:45.
    </p>
    <p>
        Pentru a evita astfel de neajunsuri am căutat acoperișuri deasupra capului și „case departe de casă” în unele dintre cele mai populare destinații românești. Am căutat, am întrebat, am cugetat, totul pentru a ne asigura că în concediul pe care îl plănuiești și pentru care economisești nu este nevoie să faci compromisuri. În secțiunea de mai poți vedea locațiile preferate sau deja rezervate de tine.
    </p>
  </div>
  <p><strong>Pentru a avea acces la rezervările tale trebuie să fii logat. Dacă vrei să accesezi contul tău <a href="" class="rez-log" data-bs-toggle="modal" data-bs-target="#modalLogIn">click aici.</a></strong></p>
</section>